@charset "UTF-8";
@font-face {
  font-family: GmarketSansMedium;
  font-style: normal;
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

.background {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

.navigation {
  max-width: 1600px;
  background-color: black;
  border-radius: 3px;
}

.menulist {
  display: flex;
  grid-column: 1/3;
  justify-content: space-around;
  padding-block: 10px;
  font-family: GmarketSansMedium;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #000;
  border-radius: 3px;
}
.menulist-1 {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  padding-block: 200px;
  padding-inline: 80px;
  font-family: GmarketSansMedium;
  color: white;
  background: linear-gradient(to bottom, black, rgba(21, 11, 119, 0.723));
}
.header-1 {
  font-size: 140px;
  font-weight: 900;
  text-transform: capitalize;
}

.align_center {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  gap: 40px;
  padding-inline: 80px;
  padding-top: 80px;
  font-family: "Noto Sans KR", sans-serif;
}
.profile-left {
  flex-shrink: 0; /* 크기 고정 */
  width: 300px;
  height: 300px;
}
.profile-right-upper {
  font-family: GmarketSansMedium;
  font-size: 35px;
  font-weight: 900;
}
.profile-right-bottom {
  padding-block: 20px;
}

.title {
  padding-block: 80px;
  font-family: GmarketSansMedium;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.program {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  font-family: "Noto sans";
  text-transform: capitalize;
}
.program-box {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.program-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.program-picture {
  width: 60px;
}
.program-1 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
}

.my_work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 100px;
}
.my_work_img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
.blinking-image {
  transition: all 300ms ease-in-out;
}
.my_work_img:hover {
  background-color: rgba(91, 88, 88, 0.448);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 30px;
  color: azure;
  list-style: none;
  background-color: black;
}
.footer_1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  font-weight: 500;
  list-style: none;
}
.footer_thin {
  font-weight: 100;
}
.footer_thin-1 {
  padding-bottom: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
  background-color: black;
}
